@model IEnumerable<SystemHotel.Models.NumbersOfHotelModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("../Shared/MetaTagsPartial")
    @await Html.PartialAsync("../Shared/CssPartial")
</head>
<body>
    <!-- Header -->
    @await Html.PartialAsync("HeaderPartial")

    @await Html.PartialAsync("../Shared/Nav")

    @await Html.PartialAsync("../Shared/FormLoginRegistrPartial")

    <div style="padding: 21px 50px; margin-bottom: 20px; text-align: center; padding: 21px 50px; ">
        @using (Html.BeginForm("Booking", "Hotel", FormMethod.Post, new { @class = "flex-box-booking" }))
        {
            <input id="searchNum" value="@ViewBag.FkHotelId" name="FkHotelId" readonly style="width:30px;"/>

            <div class="cm-form-field__content">
                <input id="DateCkeckIn"required="required" type="date" name="DateCheckIn" placeholder="Дата заезда">
            </div>

            <div class="cm-form-field__content">
                <input id="DateCkeckOut" required="required" type="date" name="DateCheckOut" placeholder="Дата выезда">
            </div>

            <div class="cm-form-field__content">
                <input id="searchNum" type="number" min="1" max="1000" name="AmountSeats" placeholder="Гости">
            </div>

            <div class="cm-form-field__content">
                <button id="searchNum" style="padding: 16px;" type="submit">Подобрать номер</button>
            </div>

        }
    </div>

    <div class="table-container">
        @foreach (var item in Model)
        {
            <div>
                <h4>
                    Номер: @Html.DisplayFor(modelItem => item.NumberRoom)
                </h4>
                <p>
                    Этаж: @Html.DisplayFor(modelItem => item.FloorNumber)
                </p>
                <p>
                    Тип комнаты: @Html.DisplayFor(modelItem => item.FkTypeRoom)
                </p>
                <p>
                    Кол-во спален: @Html.DisplayFor(modelItem => item.AmountSeats)
                </p>
                <p>
                    Цена: <span>@Html.DisplayFor(modelItem => item.Price)</span>
                </p>
                <p>
                    Забронирован: @Html.DisplayFor(modelItem => item.Isavaiable)
                </p>
            </div>
        }
    </div>
    <!-- Footer -->
    @await Html.PartialAsync("FooterPartial")

    @await Html.PartialAsync("../Shared/ScriptsPartial")
</body>
</html>
