@model IEnumerable<SystemHotel.Models.HotelModel>

<div id="window-hotel">
    <table class="table" >
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StreetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HouseNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Img.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody style="text-align:center;">
        @foreach (var item in Model) {
            <tr class ="result-Search-Hotel">
                <td>
                    @Html.DisplayFor(modelItem => item.StreetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HouseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="Booking/@item.Id">
                        <img src="~/img/@item.Img.Name" class="imgHotel" />
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>